<div class="list-alarm-event" id="alarm-events">
    <div class="alarm-event">
        <ul>
            {{if alarmEvents && alarmEvents.length}}
            {{each alarmEvents as item i}}
            <li class="{{severity[item.severity]}}">
                <i class="fa fa-circle"></i>
                <h5 class="text-ellipse alarm-name-text">{{item.name}}</h5>
                <p class="text-break">{{item.description || "无描述信息"}}</p>
                <em>
                    {{item.updatedAt}}
                    <a href="{{getUrl('/monitor/detail/alarmEventDescription',{id:item.id})}}" class="btn btn-primary pull-right">查看</a>
                </em>
            </li>
            {{/each}}
            <li class="more">
                <i class="fa fa-circle"></i>
                <a href="{{getUrl('/monitor/alarmList',{status:'alarm'})}}">更多...</a>
            </li>
            {{else}}
            <li class="more"><i class="fa fa-circle"></i>还没有告警信息</li>
            {{/if}}
        </ul>
    </div>
</div>