<div class="form-horizontal form-static form-align-left panel-left-indent">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">基本信息</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="control-label col-em-10">ID：</label>

                <div class="col-em-offset-6">
                    <p class="form-control-static">{{id}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-em-10">名称：</label>

                <div class="col-em-offset-6">
                    <p class="form-control-static" id="name">{{name}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-em-10">模板：</label>

                <div class="col-em-offset-6">
                    <p class="form-control-static">{{topologyName}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-em-10">创建时间：</label>

                <div class="col-em-offset-6">
                    <p class="form-control-static">{{createdAt}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">主机信息</h3>
        </div>
        <div class="panel-body">
            {{each topology.nodeTemplates as node k}}
            {{if node.type.indexOf("tosca.nodes.Compute") !== -1}}
            <div class="form-inline">
                <div class="form-group">
                    <label class="control-label col-em-15">{{node.name}}主机：</label>

                        <p class="form-control-static {{node.name+'hosts'}}">
                            {{each node.attributes.hosts.value as ip i}}
                            {{if i>1}}&nbsp;&nbsp;{{/if}}{{ip}}
                            {{/each}}
                        </p>
                </div>
                <div class="form-group">
                    <label class="control-label col-em-offset-6">用户名: </label>
                    <p class="form-control-static {{node.name+'user'}}">{{node.attributes.user.value}}</p>&nbsp;
                    <a  class="glyphicon glyphicon-edit form-control-static" data-toggle="popover" data-trigger="click"  data-node="{{node.name}}" data-key="user" title="用户名" data-content='
                       <div class="form-inline">
                           <div class="form-group">
                               <input type="text" name="attr" class="form-control input-sm input-attr" data-node="{{node.name}}" data-key="user" style="padding-right: 24px;">
                               <button data-node="{{node.name}}" data-key="user" class="btn btn-primary btn-sm btn-attr"><i class="glyphicon glyphicon-ok"></i></button>
                           </div>
                       </div>
                       '>
                    </a>
                </div>
                <div class="form-group">
                    <label class="control-label col-em-offset-6">密码: </label>
                    <p class="form-control-static {{node.name+'password'}}">{{#pwdHtml(node.attributes.password.value)}}</p>&nbsp;
                    <a  class="glyphicon glyphicon-edit form-control-static" data-toggle="popover" data-trigger="click"  data-node="{{node.name}}" data-key="password" title="密码" data-content='
                       <div class="form-inline">
                           <div class="form-group">
                               <input type="text" name="attr" class="form-control input-sm input-attr" data-node="{{node.name}}" data-key="password" style="padding-right: 24px;">
                               <button data-node="{{node.name}}" data-key="password" class="btn btn-primary btn-sm btn-attr"><i class="glyphicon glyphicon-ok"></i></button>
                           </div>
                       </div>
                       '>
                    </a>
                </div>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
    {{each topology.nodeTemplates as node k}}
    {{if node.type.indexOf("tosca.nodes.Compute") == -1}}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{node.name}}配置信息</h3>
        </div>
        <div class="panel-body">
            {{each node.attributes as attr key}}
            <div class="form-group">
                <label class="control-label col-em-12">{{key}}：</label>
                <div class="col-em-offset-6">
                    <span class="form-control-static {{node.name+key}}">{{attr.value}}</span>&nbsp;
                    <a  class="glyphicon glyphicon-edit form-control-static" data-toggle="popover" data-trigger="click"  data-node="{{node.name}}" data-key="{{key}}" title="{{key}}" data-content='
                       <div class="form-inline">
                           <div class="form-group">
                               <input type="text" name="attr" class="form-control input-sm input-attr" data-node="{{node.name}}" data-key="{{key}}" style="padding-right: 24px;">
                               <button data-node="{{node.name}}" data-key="{{key}}" class="btn btn-primary btn-sm btn-attr"><i class="glyphicon glyphicon-ok"></i></button>
                           </div>
                       </div>
                       '>
                    </a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    {{/if}}
    {{/each}}
</div>







