<!--<div class="page-header">
    <div class="page-title">
        <h3>环境管理</h3>
        <em>environment manage</em>
    </div>
    <div class="page-desc">
        <p>环境管理，针对不同的环境提供代码包的管理和升级操作的功能。</p>
    </div>
</div>-->
<div class="page-body">
    <div class="row home-summaries-row">
        {{each locations as applicationEnvironment}}
        <a class="roundedSummary viewLocation" href="{{getUrl('+/application', {'id': applicationEnvironment.id, 'name': applicationEnvironment.name})}}">
            <div class="roundedSummaryText">
                <span class="big" id="numApps"></span>
                {{applicationEnvironment.name}}<br/>
            </div>
        </a>
        {{/each}}
        <button class="addSummary addLocation roundedSummary" type="button">添加环境</button>
    </div>
</div>