{{ each nodes as node}}
<div class="form-group form-required">
    <label class="control-label col-sm-3">{{node.name}}：</label>

    <div class="col-sm-2">
        <input type="text" class="form-control" name="{{node.name}}user" placeholder="用户名">
    </div>
    <div class="col-sm-2">
        <input type="text" class="form-control" name="{{node.name}}password" placeholder="密码">
    </div>
    <div class="col-sm-4">
        <input type="text" class="form-control" name="{{node.name}}hosts" placeholder="IP(逗号分隔多个)">
    </div>
</div>
{{/each}}