<form class="form-horizontal" id="package-form">
    <div class="form-group">
        <label for="type" class="control-label col-sm-3">类型：</label>
        <div class="col-sm-7">
            <select id="type" name="type" class="form-control">
                <option value="PATCH">增量包</option>
                <option value="WAR">全量包</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="method" class="control-label col-sm-3">方式：</label>
        <div class="col-sm-7">
            <select id="method" class="form-control">
                <option value="file">上传</option>
                <option value="build">构建</option>
            </select>
        </div>
    </div>
    <div class="form-group form-required" id="versionDiv">
        <label for="version" class="control-label col-sm-3">版本号：</label>

        <div class="col-sm-7">
            <input type="text" class="form-control" id="version" name="version">
            <input type="hidden" class="form-control" name="applicationId" value="{{config.applicationId}}">
        </div>
    </div>
    <div class="form-group form-required" id="fileDiv">
        <label for="file" class="control-label col-sm-3">文件：</label>
        <div class="col-sm-7">
            <input type="file" class="form-control" name="file" id="file">
        </div>
    </div>
    <div class="form-group form-required" id="gitDiv">
        <label for="build" class="control-label col-sm-3">构建命令：</label>

        <div class="col-sm-7">
            <textarea class="form-control" id="build" name="build">{{config.build}}</textarea>
        </div>
    </div>
    <div id="patchDiv">
        <div class="form-group form-required">
            <label class="control-label col-sm-3">前一个版本：</label>

            <div class="col-sm-7">
                <select class="form-control" name="prePackageId">
                    {{each rows as pkg}}
                    {{if pkg.warPath && pkg.type == "WAR"}}
                    <option value="{{pkg.id}}">{{pkg.version}}</option>
                    {{/if}}
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="form-group form-required">
            <label class="control-label col-sm-3">下一个版本：</label>

            <div class="col-sm-7">
                <select class="form-control" name="nextPackageId">
                    {{each rows as pkg}}
                    {{if pkg.warPath && pkg.type == "WAR"}}
                    <option value="{{pkg.id}}">{{pkg.version}}</option>
                    {{/if}}
                    {{/each}}
                </select>
            </div>
        </div>
    </div>
</form>