<header>
    <div class="clearfix container">
        <div id="header-logo">
            <a class="logo" href="javascript:;"></a>
        </div>
        <div id="header-nav">
            <nav role="navigation" index="1">
                <ul>
                    <li class="nav-animator"></li>
                </ul>
            </nav>
            <nav role="navigation" index="2">
				<span>中心</span>
                <ul>
                    <li class="dropdown" index="user">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="global-uname">{{getLoginName()}}</span>
                            <i class="fa fa-angle-down fa-fw"></i>
                            <img class="avatar" src="">
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{getUrl('/sysmanagement/permission')}}">
                                    <i class="fa fa-user fa-fw"></i>用户设置
                                </a>
                            </li>
                            <li>
                                <a href="{{getUrl('/logout')}}">
                                    <i class="fa fa-sign-out fa-fw"></i>退出
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown" index="notifications">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            消息 <span class="badge">0</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">
                                <i class="fa fa-envelope-o fa-fw"></i><em>0</em>条未读消息
                            </li>
                            <li class="dropdown-footer">
                                <div class="alert">
                                    <i class="fa fa-exclamation-circle"></i>还没有消息通知
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<div id="page-main">
    <aside>
        <h2 class="aside-title">
            <a class="header-logo" href="{{getUrl('/environment')}}"></a>
        </h2>
        <ul id="side-bar" class="sidebar-nav nav" role="navigation" tabindex="1">
            <li index="2" id="applicationEnvironment-li">
                <a data-reload="true" href="{{getUrl('/environment')}}">
                    <p><i class="fa fa-server"></i></p>
                    <p>环境管理</p>
                </a>
            </li>
            <li index="3" id="topology-li">
                <a data-reload="true" href="{{getUrl('/topology')}}">
                    <p><i class="fa fa-cubes"></i></p>
                    <p>模板配置</p>
                </a>
            </li>
            <li index="71" id="user-li">
                <a href="{{getUrl('/sysmanagement/permission')}}" data-reload="true">
                    <p><i class="fa fa-users"></i></p>
                    <p>用户管理</p>
                </a>
            </li>
            <li index="72" id="log-li">
                <a href="{{getUrl('/sysmanagement/logs')}}" data-reload="true">
                    <p><i class="fa fa-cogs"></i></p>
                    <p>审计日志</p>
                </a>
            </li>
        </ul>
    </aside>
    <div class="container clearfix">
        <div class="page-content clearfix">{{body}}</div>
    </div>
</div>