<div class="page-header">
    <div class="page-title">
        <h3>模板配置</h3>
        <em>template configuration</em>
    </div>
    <div class="page-desc">
        <p>模板配置，用来描述应用的部署架构的信息，并可编写脚本来管理应用的生命周期</p>
    </div>
</div>
<div class="page-body">
    <div class="table-top clearfix">
        <div class="pull-left">
            <a class="btn btn-reload"></a>
            <a class="btn btn-add">创建</a>
        </div>
        <div class="pull-right">
            <label>
                <input type="search" name="filter" class="form-control input-search table-filter" placeholder="模板配置名称">
                <a class="btn btn-search"></a>
            </label>
        </div>
    </div>
    <table class="table table-primary table-striped" id="topology-table">
        <thead>
        <tr>
            <th>
                <label><input type="checkbox" class="selectAll"></label>
            </th>
            <th>名称</th>
            <th>描述</th>
            <th>操作</th>
        </tr>
        </thead>
    </table>
</div>