<header>
    <div class="clearfix container">
        <div id="header-logo">
            <a class="logo" href="javascript:;"></a>
        </div>
        <div id="header-nav">
            <nav role="navigation" index="1">
                <ul>
                    <li class="nav-animator"></li>
                </ul>
            </nav>
            <nav role="navigation" index="2">
                <ul>
                    <li class="dropdown" index="user">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="global-uname">{{getLoginName()}}</span>
                            <i class="fa fa-angle-down fa-fw"></i>
                            <img class="avatar" src="" alt=".">
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{getUrl('/sysmanagement/permission')}}">
                                    <i class="fa fa-user fa-fw"></i>用户设置
                                </a>
                            </li>
                            <li>
                                <a href="{{getUrl('/logout')}}">
                                    <i class="fa fa-sign-out fa-fw"></i>退出
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown" index="notifications">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            消息 <span class="badge">0</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">
                                <i class="fa fa-envelope-o fa-fw"></i><em>0</em>条未读消息
                            </li>
                            <li class="dropdown-footer">
                                <div class="alert">
                                    <i class="fa fa-exclamation-circle"></i>还没有消息通知
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<div id="page-main">
    <aside>
        <h2 class="aside-title">
            <a class="header-logo" href="javascript:;">云海IOP升级中心</a>
        </h2>
        <ul id="side-bar" class="sidebar-nav nav" role="navigation" tabindex="1">
            <!--<li index="1" class="active">
                <a href="{{getUrl('/home')}}" data-reload="true">
                    <i class="fa fa-desktop"></i>总览
                </a>
            </li>-->
            <li index="2" id="applicationEnvironment-li">
                <a data-reload="true" href="{{getUrl('/environment')}}">
                    <i class="fa fa-server"></i>环境管理
                </a>
            </li>
            <li index="3" id="topology-li">
                <a data-reload="true" href="{{getUrl('/topology')}}">
                    <i class="fa fa-cubes"></i>模板配置
                </a>
            </li>
            <!--<li index="4" id="repository-li">
                <a data-reload="true" href="{{getUrl('/repository')}}">
                    <i class="fa fa-clone"></i>仓库管理
                </a>
            </li>-->

            <li index="7">
                <a class="nav-first-level" href="javascript:;">
                    <i class="fa fa-cogs"></i>系统管理<i class="fa icon-arrow"></i>
                </a>
                <ul class="nav-second-level nav">
                    <li index="71">
                        <a href="{{getUrl('/sysmanagement/permission')}}" data-reload="true">
                            <i class="fa fa-dot fa-w"></i>用户管理
                        </a>
                    </li>
                    <li index="72">
                        <a href="{{getUrl('/sysmanagement/logs')}}" data-reload="true">
                            <i class="fa fa-dot fa-w"></i>操作日志
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </aside>
    <div class="container clearfix">
        <div class="page-content clearfix">{{body}}</div>
    </div>
</div>