<div class="page-breadcrumb">
    <ol class="breadcrumb">
        <li><a href="{{getUrl('+/../../')}}">环境管理</a></li>
        <li><a href="{{getUrl('+/../')}}">应用管理</a></li>
        <li class="active">{{name}}</li>
    </ol>
    <a href="{{getUrl('+/../')}}" class="btn btn-back">返回列表</a></li>
</div>
<div class="page-body">
    <div class="tab-bordered" id="application-detail-tab">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation">
                <a href="#application-summary" aria-controls="application-summary" role="tab"
                   data-toggle="tab">基本信息</a>
            </li>
            <li role="presentation">
                <a href="#application-package" aria-controls="application-package" role="tab" data-toggle="tab">程序包</a>
            </li>
            <li role="presentation">
                <a href="#application-task" aria-controls="application-task" role="tab" data-toggle="tab">操作历史</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane basic" id="application-summary">
            	{{include('+/summary', 'trigger')}}
            </div>
            <div class="tab-pane package" id="application-package">
            	{{include('+/package', 'trigger')}}
            </div>
            <div class="tab-pane task" id="application-task">
            	{{include('+/task', 'trigger')}}
            </div>
        </div>
    </div>
</div>
